<div class = "myPorfolio_button web-button project_button col-4 col-md-10 .col-sm-8">
  <p>WEB DESIGN</p>
</div>
  <div class = "myPorfolio_button threeD-button project_button col-4 col-md-10 .col-sm-8">
    <p>3D MODELING</p>
  </div>
  <div class = "myPorfolio_button twoD-button project_button col-4 col-md-10 .col-sm-8">
    <p>2D ILLUSTRATION</p>
  </div>
