#aboutme {
  background-image: url("../../images/AboutMe_Wallpaper2.png"),
    var(--green-gradient);
  background-size: contain;
  background-blend-mode: multiply;
  background-position: left center;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  max-height: 100vh;
  padding-top: 11%;
}

#aboutme .aboutme_text {
  width: 100%;
  text-align: left;
}

#aboutme .aboutme_text div {
  margin: 0 10%;
  -ms-grid-column-align: end;
  justify-self: end;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

#aboutme .aboutme_text div p {
  margin: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

#aboutme .aboutme_text div p:last-child {
  width: 100%;
}

#aboutme .aboutme_text .text-subheader {
  margin: 0;
  padding: 0.5rem 0 0 0;
  font-weight: normal;
  color: var(--light-green);
  line-height: 1.85rem;
  text-align: justify;
}

#aboutme .text-display {
  color: var(--lighter-green);
  line-height: 55px;
  margin-right: 0.5rem !important;
}

#aboutme .aboutme_title {
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  bottom: 0;
  left: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: var(--lighter-green);
}

#aboutme .aboutme_title:hover {
  cursor: pointer;
}

#aboutme .aboutme_title:hover span {
  height: 40px;
}

#aboutme .aboutme_title p {
  line-height: var(--text-base);
  padding-top: 0.5rem;
  margin-bottom: var(--spacer-s);
}

#aboutme .aboutme_title span {
  width: 1.85px;
  height: 45px;
  background-color: var(--lighter-green);
  -webkit-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

#aboutme .aboutme_hobbies {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  -ms-grid-column-align: end;
  justify-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: var(--spacer-xs) 10% var(--spacer-m) 0;
}

#aboutme .aboutme_hobbies li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  margin: 1rem;
}

#aboutme .aboutme_hobbies li img {
  padding: 0 1rem;
  mix-blend-mode: hard-light;
  -webkit-filter: contrast(115%);
  filter: contrast(115%);
}

#aboutme .aboutme_hobbies .text-note {
  padding-top: var(--spacer-s);
  line-height: var(--text-note);
  color: var(--light-green);
  width: 90px;
}

#aboutme .aboutme_hobbies li:first-child .text-note {
  width: 80px;
}

/* -------------CAREER PATH-------------- */

#careerpath {
  background: var(--yellow-gradient);
  position: relative;
  padding: var(--spacer-xl) 0;
  position: relative;
}

#careerpath .career_container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  margin-bottom: var(--spacer-m);
  padding: 0 8%;
}

#careerpath .career_icongroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: var(--white);
  margin: 0;
  padding: 0;
}

#careerpath .career_icongroup .career_bkg_slide {
  position: absolute;
  width: 100%;
  height: 1.25rem;
  background-color: var(--white);
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

#careerpath .career_icongroup .career_slide {
  position: absolute;
  width: 0%;
  height: 1.25rem;
  background-color: var(--pink);
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

#careerpath .career_icongroup .career_icon {
  position: relative;
  display: inline-block;
  width: 8%;
  font-size: 3.5vw;
  text-align: center;
  border: 5px solid var(--white);
  border-radius: 50%;
  display: inline-block;
  background-color: var(--yellow);
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

#careerpath .career_icongroup .career_icon:hover {
  cursor: pointer;
}

#careerpath .career_icongroup .career_icon .dummy {
  margin-top: 100%;
}

#careerpath .career_icongroup .career_icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#careerpath .career_icongroup .path_00 {
  font-size: 4vw;
}

#careerpath .career_icongroup[data-class="path_01"] .path_00,
#careerpath .career_icongroup[data-class="path_02"] :is(.path_00, .path_01),
#careerpath
  .career_icongroup[data-class="path_03"]
  :is(.path_00, .path_01, .path_02),
#careerpath
  .career_icongroup[data-class="path_04"]
  :is(.path_00, .path_01, .path_02, .path_03),
#careerpath
  .career_icongroup[data-class="path_05"]
  :is(.path_00, .path_01, .path_02, .path_03, .path_04) {
  background-color: var(--pink);
  border: 5px solid var(--pink);
  border-radius: 50%;
  display: inline-block;
}

#careerpath .career_icongroup .path_01 i {
  margin-left: 3%;
}

#careerpath .career_icongroup .path_03 i {
  margin-left: -3%;
  margin-top: -2%;
}

#careerpath .career_icongroup .career_icon.career_active {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  background-color: var(--pink);
  border: 5px solid var(--pink);
  border-radius: 50%;
  display: inline-block;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
}

#careerpath .career_modal {
  position: relative;
  background-color: var(--white);
  padding: var(--spacer-l);
  border-radius: 15px;
  text-align: center;
  margin-bottom: var(--spacer-xl);
  -ms-grid-column: 3;
  -ms-grid-column-span: 8;
  grid-column: 3 / span 8;
  z-index: 1;
  /* width: 55vw; */
}

#careerpath .career_modal::before {
  content: "";
  display: block;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-30%, -50%);
  -ms-transform: translate(-30%, -50%);
  transform: translate(-30%, -50%);
  background-color: var(--white);
  z-index: -1;
}

#careerpath .career_modal::after {
  content: "";
  display: block;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(30%, -50%);
  -ms-transform: translate(30%, -50%);
  transform: translate(30%, -50%);
  background-color: var(--white);
  z-index: -1;
}

#careerpath .text-body {
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: var(--pink);
  position: absolute;
  left: 50%;
  bottom: -50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  opacity: 0;
}

#careerpath .career_active .text-body {
  opacity: 1;
}

#careerpath .text-title {
  padding: 1rem 0 0 0;
  margin: 0;
  /* color: var(--grey); */
  color: var(--light-pink);
  font-weight: var(--regular);
}

#careerpath .text-title a {
  color: inherit;
  opacity: 1;
  -webkit-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

#careerpath .text-title a:hover {
  color: var(--pink);
}

#careerpath .text-display {
  line-height: 55px;
  color: var(--pink);
  padding: 0;
  margin: 0;
}

#careerpath .text-headline {
  color: var(--light-pink);
  line-height: var(--text-headline);
  padding-bottom: var(--spacer-m);
  margin: 0;
}

@media only screen and (max-width: 700px) {
  #aboutme {
    background-size: cover;
    background-color: var(--green);
    background-image: url("../../images/AboutMe_Wallpaper2.png");
    padding-top: 22%;
  }

  #aboutme .aboutme_text div {
    justify-self: center;
  }

  #aboutme .aboutme_text .text-subheader {
    padding: 0;
    line-height: 1.65rem;
    color: var(--lighter-green);
    text-align: justify;
  }

  #aboutme .aboutme_text div {
    margin: 0;
    padding: 0 8%;
    width: min-content;
  }

  #aboutme .aboutme_title {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  #aboutme .aboutme_title span {
    height: 25px;
  }

  #aboutme .aboutme_hobbies {
    padding: var(--spacer-m) 5%;
    /* width: 100%; */
    max-width: 100%;
    -ms-grid-column-align: center;
    justify-self: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin: 0;
  }

  #aboutme .aboutme_hobbies li {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    min-height: auto;
    max-height: auto;
    height: auto;
    margin: 0.25rem;
  }

  #aboutme .aboutme_hobbies li img {
    width: 100%;
    min-height: auto;
    max-height: auto;
    height: auto;
    /* -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: bottom center;
    object-position: bottom center; */
  }

  #aboutme .aboutme_hobbies li:first-child img {
    width: 80%;
  }

  #aboutme .aboutme_hobbies .text-note,
  #aboutme .aboutme_hobbies li:first-child .text-note {
    font-size: var(--text-caption-s);
    width: 19.8vw;
  }

  /* -------------CAREER PATH-------------- */

  #careerpath {
    padding: var(--spacer-l) 0;
  }

  #careerpath .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  #careerpath .career_container {
    margin-bottom: 0;
    padding: 0 7%;
  }

  #careerpath .career_icongroup > :is(.career_slide, .career_bkg_slide) {
    height: 0.5rem;
  }

  #careerpath .career_icongroup .career_icon {
    width: 13%;
    font-size: 5vw;
    border: 3px solid var(--white);
  }

  #careerpath .career_icongroup .path_00 {
    font-size: 7vw;
  }

  #careerpath .career_icongroup .career_icon.career_active {
    -webkit-transform: scale(1.25);
    -ms-transform: scale(1.25);
    transform: scale(1.25);
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15);
  }

  #careerpath .career_modal {
    padding: var(--spacer-m);
    border-radius: 15px;
    margin: 0 var(--spacer-l) var(--spacer-l) var(--spacer-l);
  }

  #careerpath .career_modal::before,
  #careerpath .career_modal::after {
    width: 4rem;
    height: 4rem;
  }

  #careerpath .text-title {
    padding: 0.75em 0 0.75rem 0;
    font-size: var(--text-subheader-s);
    line-height: var(--text-subheader-s);
  }

  #careerpath .text-display {
    font-size: var(--text-headline-s);
    line-height: var(--text-headline-s);
  }

  #careerpath .text-headline {
    font-size: var(--text-title-s);
    line-height: var(--text-title-s);
  }
}
