body {
  position: relative;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: none;
  padding-top: var(--spacer-s);
  padding-bottom: var(--spacer-s);
}

.header #pcNav {
  display: block;
}

.header #phoneNav {
  display: none;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: none;
}

.header.bkg_projects {
  background-color: var(--green);
  position: relative;
}

.header.bkg_projects[data-class="threeD"] {
  background-color: var(--green);
  position: relative;
}
.header.bkg_projects[data-class="twoD"] {
  background-color: var(--pink);
  position: relative;
}
.header.bkg_projects[data-class="web"] {
  background-color: var(--blue);
  position: relative;
}

@media only screen and (max-width: 700px) {
  .header #pcNav {
    display: none;
  }

  .header #phoneNav {
    display: inline-block;
  }
}
