---
layout: layouts/full.njk
title: About Me
eleventyNavigation:
  key: aboutme
  title: About Me
  order: 3
---

<section id = "aboutme">
  <div class = "aboutme_text grid">
    <div class = "col-12">
      <p class = "text-display">I'M ALBA GARCÍA</p>
      <p class = "text-subheader">I'm a Graphic Designer, and I specialize in Web Design and 3D modeling.<br>I'm currently unemployed and pending to do a master's degree in Full-stack Web Design on October 2021.</p>
    </div>
    <ul class = "aboutme_hobbies col-12">
      <li>
        <img src="../assets/images/Ach_00.png" alt="">
        <p class = "text-note">FEARLESS<br>EXPLORER</p>
      </li>
      <li>
        <img src="../assets/images/Ach_01.png" alt="">
        <p class = "text-note">VIDEOGAME<br>FREAK</p>
      </li>
      <li>
        <img src="../assets/images/Ach_02.png" alt="">
        <p class = "text-note">PROFESSIONAL<br>READER</p>
      </li>
      <li>
        <img src="../assets/images/Ach_03.png" alt="">
        <p class = "text-note">JUNIOR<br>ATHLETE</p>
      </li>
    </ul>
  </div>
  {% for elemento in buttons %}
  {% if elemento.place === "aboutme" %}
    <div class="text-subheader button {{elemento.buttonClass}} {{elemento.position}}">
      <p>{{elemento.innerText}}</p>
    </div>
  {% endif %}
  {% endfor %}
  <div class = "aboutme_title">
    <p>Career Path</p>
    <span></span>
  </div>
</section>

<section id = "myPorfolio">
  {% include "components/porfolioButton.njk" %}
</section>

<section id = "careerpath">
    <div class="grid">
      <div class = "career_modal col-12" data-class = "path_00">
      </div>
      <div class="career_container col-12">
        <ul class = "career_icongroup" data-class = "path_00">
          <li class = "career_bkg_slide"></li>
          <li class = "career_slide"></li>
          {% include "components/CPathItem.njk" %}
        </ul>
      </div>
</section>
